.searchBox {
  height: 72px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: border-box;

  .operate {
    font-size: 20px;
    cursor: pointer;
  }
}