.formWrapper {
  width: 370px;
  background-color: #fff; 
  display: flex;
  flex-direction: column;

  .accountInputWrapper,
  .passwordInputWrapper,
  .codeWrapper {
    margin-top: 20px;

    .errorBox {
      position: relative;
      z-index: 1;
      margin-top: -23px;
      background-color: #FAEDEC;
      padding-top: 32px;
      padding-left: 20px;
      padding-bottom: 10px;
      border-radius: 10px;
      font-family: Lustria;
      font-size: 12px;
      color: #808080;

      &.original {
        background-color: #f2f0ff;

        .errorItem {

          &::before {
            background-color: #a69aed;
          }
        }
      }

      .errorItem {
        font-size: 10px;
        padding-top: 5px;
        padding-left: 14px;
        position: relative;

        &::before {
          content: '';
          width: 2px;
          height: 2px;
          border-radius: 50%;
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          background-color: #EA3425;
        }

        &.checked {
          &::before {
            background-color: #22A538;
          }
        }
      }
    }
  }

  .accountInputWrapper > .accountInput,
  .passwordInputWrapper > .passwordInput,
  .codeWrapper > .codeInput {
    position: relative;
    z-index: 20;
    height: 45px;
    border-radius: 22px;
    border: 1px solid #a96aed;
    box-sizing: border-box;
    padding-left: 20px;
    background-color: #fff;

    &:focus,
    &:hover {
      position: relative;
      z-index: 20;
    }

    &.error {
      border-color: #EA3425;
    }
  }

  .accountInputWrapper {
    position: relative;
    margin-top: 0;

    .countrySelect {
      position: absolute;
      top: 7px;
      left: 0;
      z-index: 30;
    }

    .accountInput.phone {
      padding-left: 70px;
    }
  }

  .codeWrapper {
    position: relative;
    margin-top: 20px;

    .codeInput {
      margin: 0;
    }

    .sendCode {
      height: 38px;
      width: 100px;
      border-radius: 19px;
      background-color: #a69aed;
      position: absolute;
      z-index: 30;
      top: 50%;
      right: 4px;
      transform: translateY(-50%);
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: Lustria;
      font-size: 12px;
      color: #fff;
      cursor: pointer;
    }

    .countDown {
      height: 38px;
      width: 100px;
      border-radius: 19px;
      background-color: #f2f0ff;
      position: absolute;
      z-index: 30;
      top: 50%;
      right: 4px;
      transform: translateY(-50%);
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: Lustria;
      font-size: 12px;
      color: #808080;

    }
  }
}


.popup {
  width: 200px;
}