@import "tailwindcss";
@theme {
  --color-line-2: #eceff4;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --brand-8: #ebf0ff;
  --brand-7: #326cfe;
  --brand-6: #5b89fe;
  --brand-5: #7098fe;
  --brand-4: #98b5fe;
  --brand-3: #c2d3ff;
  --brand-2: #ebf0ff;
  --brand-1: #f5f8ff;
  --line-4: #e1e6ed;
  --line-3: #e1e6ed;
  --line-2: #eceff4;
  --line-1: #f0f3f5;
  --fill-11: #fff;
  --fill-10: #fff;
  --fill-9: #fff;
  --fill-8: #37435c;
  --fill-7: #626e85;
  --fill-6: #939cad;
  --fill-5: #c0c8d6;
  --fill-4: #e1e6ed;
  --fill-3: #f0f3f5;
  --fill-2: #f4f6f7;
  --fill-1: #f9fafb;
  --text-6: #c0c8d6;
  --text-5: #232d47;
  --text-4: #4e5a70;
  --text-3: #7a8599;
  --text-2: #a9b2c2;
  --text-1: #c0c8d6;
  --opacity-6-success-3: rgba(195,236,218,.6);
  --opacity-6-brand-3: rgba(194,211,255,.6);
  --opacity-6-text-5: rgba(35,45,71,.6);
  --success-7: #2b996a;
  --success-6: #36bf84;
  --success-5: #72d2a9;
  --success-4: #9adfc1;
  --success-3: #c3ecda;
  --success-2: #ebf9f3;
  --success-1: #f5fcf9;
  --warning-7: #cb7428;
  --warning-6: #fe9132;
  --warning-5: #feb270;
  --warning-4: #fec898;
  --warning-3: #ffdec2;
  --warning-2: #fff4eb;
  --warning-1: #fffaf5;
  --error-7: #bb4343;
  --error-6: #e95454;
  --error-5: #f08787;
  --error-4: #f4aaaa;
  --error-3: #f9cccc;
  --error-2: #fdeeee;
  --error-1: #fef6f6;
  --o-1: #ffdec2;
  --o-2: #fec898;
  --y-1: #ffedc2;
  --y-2: #fee298;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
